*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.nav{
    display: flex;
    background-color: firebrick;
}

.logo-img{
    height: 100px;
    width: 250px;
    margin-top: 10px;
    margin-left: 50px;
}

.nav__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    list-style: none;
    margin-left: 150px;
}

.nav__link{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}

.nav__link:hover{
    color: rgb(240, 218, 24);
    transition: 0.3s;
}
